@font-face {
  font-family: Druk Wide Bold;
  src: url("Druk Wide Bold.ttf");
  font-weight: bold;
}

body {
  font-family: Druk Wide Bold, sans-serif;
  text-align: center;
  left: auto;
  right: auto;
}

.title {
  font-size: 20px;  
}

body a {
  color: black;
  position: relative;
}

input {
  color: black;
  border-radius: 20px;
  padding : 3%;
  font-family: Druk Wide Bold;
  font-size: 1em;
}

@media screen and (max-width: 1280px) {
    html {
      zoom: 1.5;        
    }

    body {
      display: flex;
      flex-direction: column;
    }

    .title {
      margin-bottom: 10%;
    }

    .card1 {
      margin-bottom: 10%;
    }

    .card2 {
      margin-bottom: 10%;
    }

    .card3 {
      margin-bottom: 10%;
    }

    .card4 {
      margin-bottom: 10%;
    }

    body a {
      color: black;
      position: relative;
      top: 40%;
    }
}
