@font-face {
  font-family: Druk Wide Bold;
  src: url("Druk Wide Bold.ttf");
  font-weight: bold;
}

*,*:before,*:after{box-sizing:border-box}

body {
	font-family: Druk Wide Bold;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.20fr 1fr 0.40fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.titre {
	grid-area: 1 / 1 / 2 / 2;
}

img{
	max-width:100%
}

.diapo_auto_rwd{	
	position:relative;
	max-width:600px;
	margin: 2rem auto;
	overflow: hidden;
	grid-area: 2 / 1 / 3 / 2;
}

.diapo_auto_rwd input[type=radio]{
	
	position: absolute;
	left: -9999px
	
	}

.diapo_auto_rwd label{
	
	cursor:pointer
	
	}

.diapo_auto_rwd ul {
	
position: relative;
z-index: 1;
margin: 0;
padding: 0;
list-style-type: none;
overflow: hidden
		
		}

.diapo_auto_rwd ul .slide_diapo {
	
height: 100%;
width: 100%;
position: absolute;
top: 0;
left: 0;
transition: transform .8s
	
	}


/*slide images, on place les photos cote a cote*/
	
ul .slide_diapo.image1{
	
	left: 0
	
	}
	
ul .slide_diapo.image2{
	
	left: 100%
	
	}
	
ul .slide_diapo.image3{
	
	left: 200%
	
	}

#slide1:checked ~ ul .slide_diapo,
#pause1:checked ~ ul .slide_diapo {

transform: translatex(0)
	
	}

#slide2:checked ~ ul .slide_diapo,
#pause2:checked ~ ul .slide_diapo {

transform: translatex(-100%)
	
	}

#slide3:checked ~ ul .slide_diapo,
#pause3:checked ~ ul .slide_diapo{

transform: translatex(-200%)
	
	}

/*animation css3 defilement automatique des photos*/
@keyframes slide-diapo {
	
0%,25%{
	
	margin-left: 0
	
	}
	
33%,58%{
	
	margin-left: -100%
	
	}
	
66%,91%{
	
	margin-left: -200%
	
	}
	
	}



.diapo_auto_rwd img,
.precedent,
.suivant,
.lancement_arret {
	
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none /*empêche de selctionner les images et icones*/
	
	}


/*navigation fleches droite et gauche*/
.precedent,
.suivant {
	position: absolute;
	top: 50%;
	z-index: 1	
	}

.precedent label,
.suivant label {	
	position: absolute;
	opacity: 0;
	z-index: -1;
	height: 50px;
	width: 0;
	transform: translate(0,-50%);
}
  
.precedent {
	left: 0
}
	
.suivant {
	right:50px
}

.precedent label:before{
	content: url("fleche-droite.png");
	transform: rotate(180deg);
}
	
.suivant label:before{
	content: url("fleche-droite.png");
}

.precedent label:before,
.suivant label:before{
	
position: absolute;
font-family: "bric-a-brac";
height: 50px;
display: flex;
align-items: center;
justify-content: center;
width: 50px;
background: hsl(0, 100%, 100%, .3);
transition: background .3s;
color: black;
		
		}

.precedent:hover label:before,
.suivant:hover label:before{

background: hsl(0, 100%, 100%, .9)
		
		}


#slide1:checked ~ .precedent .image3,
#pause1:checked ~ .precedent .image3,
#slide1:checked ~ .suivant .image2,
#pause1:checked ~ .suivant .image2, 
#slide2:checked ~ .precedent .image1,
#pause2:checked ~ .precedent .image1,
#slide2:checked ~ .suivant .image3,
#pause2:checked ~ .suivant .image3, 
#slide3:checked ~ .precedent .image2,
#pause3:checked ~ .precedent .image2,
#slide3:checked ~ .suivant .image1,
#pause3:checked ~ .suivant .image1 {
	
	opacity: 1;
	z-index: 1
	
	}

@keyframes fleche_diapo {
	
0%,33.33%{
	
opacity: 1;
z-index: 0
	
	}
	
33.34%,100%{
	
opacity: 0;
z-index: -1
	
	}
	
	}


#lance-diapo:checked ~ .precedent .image3,
#lance-diapo:checked ~ .suivant .image2 {

animation: fleche_diapo 12.3s infinite -1s
	
	}

#lance-diapo:checked ~ .precedent .image1,
#lance-diapo:checked ~ .suivant .image3 {

animation: fleche_diapo 12.3s infinite 3.1s
	
	}
  
  
#lance-diapo:checked ~ .precedent .image2,
#lance-diapo:checked ~ .suivant .image1 {

animation: fleche_diapo 12.3s infinite 7.2s
	
	}




#lance-diapo:checked ~ .lancement_arret .pause_diapo.image1 {

animation: fleche_diapo 12.3s infinite -1s
	
	}

#lance-diapo:checked ~ .lancement_arret .pause_diapo.image2 {

animation: fleche_diapo 12.3s infinite 3.1s
	
	}

#lance-diapo:checked ~ .lancement_arret .pause_diapo.image3 {

animation: fleche_diapo 12.3s infinite 7.2s
	
	}


#lance-diapo:checked ~ ul .slide_diapo,
.pause_diapo:checked ~ ul .slide_diapo,
.pause_diapo:checked ~ .precedent label,
.pause_diapo:checked ~ .suivant label,
.slide_diapo:checked ~ .precedent label,
.slide_diapo:checked ~ .suivant label{

transition:none
	
	}/*on revient directement a la premiere photo sans effet de slide*/

.subtitle {
	grid-area: 3 / 1 / 4 / 2;
	font-size: 0.95em;
	text-align: justify;
}

@media screen and (max-width: 1280px) and (orientation: landscape){
	body {
		grid-template-rows: 0.20fr 1fr 0.20fr;
	}
}

@media screen and (max-width: 1280px) and (orientation: portrait){
	body {
		grid-template-rows: 0.20fr 0.55fr 0.20fr;
	}
}
