@font-face {
  font-family: Druk Wide Bold;
  src: url("Druk Wide Bold.ttf");
  font-weight: bold;
}

body {
	font-family: Druk Wide Bold;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.10fr 1fr 0.10fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	padding: 0% 5% 0% 5%;
}

.bouton {
	position: absolute;
	top: 4%;
	left: 2rem;
}

.titre {
	grid-area: 1 / 1 / 2 / 2;

}

.content {
	margin: 2rem auto;
	grid-area: 2 / 1 / 3 / 2;
}

table img{
	height: 100px;
}

@media screen and (max-width: 1280px) and (orientation: landscape){
	body {
		grid-template-rows: 0.20fr 1fr 0.20fr;
	}
}

@media screen and (max-width: 1280px) and (orientation: portrait){
	body {
		grid-template-rows: 0.20fr 0.50fr 0.20fr;
		padding: 5%;
	}

	.subtitle {
		font-size: 0.75em;
	}

	html {
      zoom: 2;        
    }
}